* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

#app {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'inter', sans-serif;
}

.container1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.container3 {
  /* height: 200px; */
  padding-top: 40px;
}

.title {
  display: flex;
  /* justify-content: center; */
  gap: 30px;
  width: 65%;
}

.navlinks {
  /* font-family: sans-serif; */
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #303e6f;
}


.basket {
  width: 34%;
  display: flex;
  height: 90px;
  gap: 40px;
}

#fashionhub {
  /* font-family: sans-serif; */
  font-weight: 600;
  color: #303e6f;
}

#basketimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 40px;
  border-radius: 50%;
}

#bell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 40px;
  border-radius: 50%;
}

.fa-regular {
  position: relative;

}

.fa-solid {
  position: relative;
  color: #ffa500;
}

#bells {
  position: absolute;
  margin-bottom: 39px;
  margin-right: -9px;
  padding: 5px;
  background-color: #f2cd88;
  border-radius: 50%;
}

#items-selected {
  position: absolute;
  margin-right: -9px;
  margin-bottom: 35px;
  padding: 3px;
  color: #fff;
  background-color: #303e6f;
  border-radius: 50%;

}

.stars{
 display: flex;
 gap: 5px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-image {
  display: flex;
  width: 26%;
  height: 40px;
  gap: 8px;
}

.title-image img {
  width: 50%;
  border-radius: 50%;
  object-fit: cover;
}

#gmorning, #johnson {
  padding: 3px;
  font-size: 8px;
}

#johnson {
  color: #303e6f;
  background-color: #f4e8f3;
}

#gmorning {
  color: #776e6e;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: sans-serif;
}

.containerr {
  width: 100%;
  min-height: 100vh;
  /* background: #d0eaff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  width: 100%;
  max-height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  /* flex-basis: 90%; */
  /* background: #242424; */
  /* transform: scale(1.08); */
  /* width: 40%; */
  /* box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1); */
  position: relative;
  padding-bottom: 30px;
  /* height: 500px; */
}

 img {
  width: 90%;
  height: 500px;
  border-radius: 10px;
 }

 .details {
  width: 100%;
  background: #fff;
  padding-top: 40px;
  padding-left: 60px;
  /* box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1); */
  font-size: 13px;
  font-weight: 500;
  color: #777;
  /* height: 500px; */

 }

 .selectoption {
  display: flex;
  gap: 14px;
  height: 33px;
  /* padding: 30px; */
 }

 #selectfor-detail-pag {
  background-color: #EDF0F8;
  border: none;
 }

 #sideboardd {
 display: flex;
 flex-direction: column;
 align-items: center;
  background-color: #a6b5ed;
  color: #303e6f;
  height: 30px;
 }

 .embrace-sideboard {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .love-likes {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  width: 20%;
 }

 .details h1 {
  color:  #333;
  font-size: 35px;

 }

 #teitra {
  color: #776e6e;
 }

 .reviews {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
 }

 .details h2 {
  color: #dbd6d6;
  font-size: 30px;
  font-weight: 600;
 }

 .starss {
  display: flex;
  gap: 10px;
 }

 form {
  padding-top: 20px;
 }

 .review {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  /* width: 70%; */
  align-items: center;
 }

 #txt-decoration {
  text-decoration: line-through;
 }

#greencolor {
  color: #00d874;
}

.buyers {
  display: flex;
  align-items: center;
 }
 #msg {
  font-size: 10px;
 }

 #amountt {
  color: #303e6f;
 }

 .details h3 {
  color: #00d874;
  margin-bottom: 20px;
 }

 .details form {
  font-size: 15px;
  font-weight: 400;
 }

 .size-select {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
 }

 #choose-sice {
  padding-top: 20px;

 }

 .size-select p {
  width: 70px;
 }

 .size-select input:checked + span {
  color: blue;
  font-weight: 600;
 }

 .size-select input {
  display: none;
 }

 .size-select span {
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
 }

 .color-select {
  display: flex;
  align-items: center;
  margin-top: 20px;
 }

 .color-select p {
  width: 75px;
 }

 .color-select span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-right: 15px;
  cursor: pointer;
 }

 .color-1 {
  border-radius: 50%;
  background-color:
  #ECDECC;
 }
 .color-2 {
  border-radius: 50%;
  background-color: #BBD278;
 }
 .color-3 {
  border-radius: 50%;
  background-color: 
  #BBC1F8;
 }
 .color-4 {
  border-radius: 50%;
  background-color:  #FFD3F8;
 }

 #round {
  padding: 10px;
  width: 15px;
  /* height: 3px; */
 }

 .color-select input {
  display: none;
 }

 .color-select input:checked + span {
  transform: scale(0.7);
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
 }

 .quantity-select {
  display: flex;
  align-items: center;
  margin-top: 20px;
 }

 .quantity-select{
  display: flex;
  align-items: center;
  gap: 4rem;
  border: 1px solid #f1ecec;
  border-radius: 19px;
  width: 20%;
  background-color: #f1ecec;
  height: 35px;
 }

.addition {
  display: flex;
}
 #add,
 #subtract
 {
  border-radius: 19px;
  border: none;
  padding: 10px;
 }

 .cardadd {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #display {
  padding: 5px;
  color: #303e6f;
 }

 .quantity-select input {
  background: #eee;
  border: 0;
  outline: 0;
  padding: 2px 2px 2px 15px;
  width: 50px;
  border-radius: 12px;
}

#buttonn {
  background: #553ff0;
  color: #fff;
  font-size: 17px;
  width: 150px;
  height: 35px;
  padding: 10px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  box-shadow: 0 10px 10px #553ff040;
  cursor: pointer;
}

.controls {
  position: fixed;
  bottom: 40px;
  right: 20px;
}

.btn {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:  rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-active {
  background-color: #553ff0;
}

.delevery {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  border: 1px solid #e5dfdf;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.deliverybasket{
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 10px;
  padding: 20px;
}

.deliverycar {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 10px;
  padding: 20px;
  /* padding-bottom: 30px; */
}

h4 {
  color: #303e6f;
}

.top {
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  padding: 10px;
  width: 90%;
  background-color: fff;
  border: 1px solid #6a6666;
  border-radius: 6px;
}

.subcard {
  display: flex;
  width: 100%;
  gap: 30px;
  position: relative;
  border-radius: 10px;
}


.subcard img {
  width: 100%;
  height: 100px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

 .subcard .fa-regular {
  padding-top: 20px;
  position: absolute;
  margin-left: -50px;
 }


 .container4 {
  width: 100%;
  gap: 30px;
  position: relative;
  border-radius: 10px;
 }

 .prev-next {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }



 #prev,
 #next {
  font-size: 25px;

 }

 #prod-description {
  color: #303e6f;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 3;
 }


 #space {
  line-height: 3;
 }

 .checked {
  display: flex;
  align-items: center;
  background-color: red;
  color: red;
  border:  1px solid blue;
 }

 .fa-circle-check {
  line-height: 3;
 }

 .water {
  display: flex;
 }


